<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall"
    class="app-sidenav mat-elevation-z10"
  >
    <mat-toolbar color="primary">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-nav-list *ngIf="users$ | async as users">
      <mat-list-item *ngFor="let user of users">
        <a matLine [routerLink]="['/contactmanager', user.id]"
          ><mat-icon>face</mat-icon>{{ user?.name }}</a
        >
      </mat-list-item>
    </mat-nav-list></mat-sidenav
  >
  <mat-sidenav-content class="app-sidenav-content"
    ><app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
