<div *ngIf="user; else noUser">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>face</mat-icon></div>
      <mat-card-title>
        <h2>{{ user?.name }}</h2>
      </mat-card-title>
      <mat-card-subtitle
        >Birthday: {{ user?.birthDate | date }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Bio">
          <p>
            {{ user.bio }}
          </p>
        </mat-tab>
        <mat-tab label="Notes">
          <app-notes [notes]="user?.notes"></app-notes>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noUser>
  <mat-spinner></mat-spinner>
</ng-template>
